---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.vue";
import SearchPokemon from "../useCases/pokemon/pokedex/SearchPokemon.vue";
import ShowPokemon from "../useCases/pokemon/pokedex/ShowPokemon.svelte";
---

<Layout title="Poke-astro">
    <Header client:only="vue" />
    <div class="Index">
        <div class="nes-container is-dark with-title is-centered">
            <p class="title">Pokédex</p>
            <SearchPokemon client:only="vue" />
            <br />
            <ShowPokemon client:only="svelte" />
        </div>
    </div>
</Layout>

<style lang="scss" scoped>
    .Index {
        margin-top: 50px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
</style>
